{
  "Foundry": {
    "Endpoint": "https://aif-dotnetagent-dev-centralus.cognitiveservices.azure.com/",
    "DeploymentName": "gpt-4.1"
  },
  "CrmAgent": {
    "BaseUrl": "http://localhost:5004"
  },
  "ProductAgent": {
    "BaseUrl": "http://localhost:5005"
  },
  "AzureAd": {
    "TenantId": "7960be14-fc91-4f30-8ca1-237851909103"
  },
  "Kestrel": {
    "Endpoints": {
      "Http": { "Url": "http://localhost:5006" }
    }
  },
  "Logging": {
    "LogLevel": { "Default": "Information" }
  }
}
