{
  "Bff": {
    "BaseUrl": "http://localhost:5007"
  },
  "Kestrel": {
    "Endpoints": {
      "Http": { "Url": "http://localhost:5008" }
    }
  },
  "Logging": {
    "LogLevel": { "Default": "Information" }
  }
}
