{
  "DataMode": "InMemory",
  "Orchestrator": {
    "BaseUrl": "http://localhost:5006"
  },
  "CrmApi": {
    "BaseUrl": "http://localhost:5001"
  },
  "FraudWorkflow": {
    "BaseUrl": "http://localhost:5010"
  },
  "Storage": {
    "ImagesEndpoint": "",
    "ImagesAccountName": "",
    "ImagesContainer": "product-images"
  },
  "AzureAd": {
    "Enabled": true,
    "TenantId": "{{TENANT_ID}}",
    "BffClientId": "{{BFF_CLIENT_ID}}",
    "CustomerMap": {{CUSTOMER_MAP_JSON}}
  },
  "Logging": {
    "LogLevel": { "Default": "Information" }
  }
}
